.login-container{
    background-color: #42c0b3;
    opacity: 0.8;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
}

.login-image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.login-logo-position {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}
.login-logo {
    width: 280px;
    margin-top: 50px;
    animation: push ease 1s alternate infinite;
    position:absolute;
}

@keyframes push {
    0% {
        margin-top: 50px;

    }

    50%{
        margin-top: 53px;

    }
    100% {
        margin-top: 55px;


    }
}
.login-background{
    margin-top: 10vh;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #42c0b3;
    min-height: 80vh;
    border-radius: 15px;
    -moz-box-shadow: 2px 11px 62px 27px #42c0b378;
    -webkit-box-shadow: 2px 11px 62px 27px #42c0b378;
    box-shadow: 2px 11px 62px 27px #42c0b378;
}
.login-form{
    padding-top: 30vh;
    width: 280px;
    margin: 0 auto;
}
.loading-screen{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.loading{
    font-size: 2em;
    text-align: center;
    width: auto;
    margin-top: 40vh;
}
/*///////////////////////////////////// hover effect navigation */
li{
    list-style-type: none;
    padding: 15px;
}
a{
    color: #96a1b5;
    text-decoration: none;
}
a:hover, a:focus {
    color: #fff;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
.active{
    background-color:  #42c0b3;
}
.active a{
    color: white;
}

.update{
    background-color: red;
    color: #fff;
    border-radius: 35%;
    height: 20px;
    font-size: 13px;
    padding: 0px 8px 0px 8px;
}

/*//////////////////////////////////// input effects */
input[type=text], [type=password], [type=email], [type=date] {
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    background-color: #42c0b3;
    border: none;
    border-bottom: 1px solid #fff;;

}

input[type=submit] {
    background-color: rgba(255, 255, 255, 0.90);
    color: #42c0b3;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    border: none;

    width: 100%;
}

/*//////////////////////////////////// input focus / hover */
input[type=text]:focus,[type=email]:focus,[type=password]:focus {
    border: 1px solid #fff;
}

input[type=submit]:hover{
    background-color: #f7f7f7;
    color: #000;
    border: none;
}
select{
    background-color: #42c0b3;
    padding: 10px 15px;
    margin: 15px 0;
    min-width: 200px;
    color: #fff;
    font-size: 16px;
}
label{
    display: block;
}


table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #42c0b3;
    color: #fff;
}