.login-container{
    background-color: #42c0b3;
    opacity: 0.8;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
}

.login-image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
.login-logo-position{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}
.login-logo{
    width: 280px;
    margin-top: 125px;
}
.login-form{
    margin-top: 10vh;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #42c0b3;

    min-height: 80vh;
    border-radius: 15px;
}
.loading-screen{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.loading{
    font-size: 2em;
    text-align: center;
    width: auto;


    margin-top: 40vh;
}