.login-container{
    background-color: #42c0b3;
    opacity: 0.8;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
}

.login-image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.login-logo-position {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}
.login-logo {
    width: 280px;
    margin-top: 55px;
    animation: push ease 1s alternate infinite;
    animation-delay: 1.5s;
    position:absolute;
}

@keyframes push {
    0% {
        margin-top: 50px;
    }


    100% {
        margin-top: 55px;

    }
}
.login-background{
    margin-top: 10vh;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #42c0b3;
    min-height: 80vh;
    border-radius: 15px;
    -moz-box-shadow: 2px 0 10px -1px #888;
    -webkit-box-shadow: 2px 0 10px -1px #888;
    box-shadow: 2px 0 10px -1px #888;
}
.login-form{
    padding-top: 30vh;
    width: 280px;
    margin: 0 auto;
}
.loading-screen{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.loading{
    font-size: 2em;
    text-align: center;
    width: auto;
    margin-top: 40vh;
}
/*///////////////////////////////////// hover effect navigation */
a{
    color: #000;
    text-decoration: none;
}
a:hover, a:focus {
    color: red;
    /*color: #f7f7f7;*/
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

/*//////////////////////////////////// input effects */
input[type=text], [type=password], [type=email] {
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px solid #000;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
}

input[type=submit] {
    background-color: rgba(255, 255, 255, 0.90);
    color: #42c0b3;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    border: none;


}

/*//////////////////////////////////// input focus / hover */
input[type=text],[type=password]:focus {
   background-color: #fff;
}

input[type=submit]:hover{
    background-color: #f7f7f7;
    color: #000;
    border: none;
}