.bg-sqits{
    background-color: #42c0b3;
}
.brand-image{
    width: 42px;
}
.navbar-dark .navbar-nav .nav-link {
   color: #fff!important;

}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    opacity:0.7 !important;
}

.dropdown-menu2{
    right: 0!important;
}

@CHARSET "UTF-8";
.page-break {
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}

.page-break-before {
    page-break-before: always;
    page-break-inside: avoid;
    clear: both;
}